.card {
    padding: 16px;
    background-color: #1a1a1a; /* Темный фон, как у других контейнеров */
    border: 1px solid #4b3621; /* Коричневая рамка */
    border-radius: 16px; /* Закругленные углы */
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.3); /* Золотистая тень */
    display: flex;
    flex-direction: column; /* Содержимое располагается вертикально */
    gap: 12px; /* Расстояние между элементами */
    /*touch-action: none;*/
}

.card button {
    padding: 8px 16px;
    background-color: #7f5a3a; /* Коричневый фон кнопки */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #a97b50; /* Более светлый коричневый при наведении */
}
.initiative-health-container {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    gap: 12px; /* Расстояние между элементами */
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-label {
    font-size: 14px;
    font-weight: bold;
    color: #d4af37; /* Золотистый цвет текста */
    margin-right: 8px;
    display: flex;
    align-items: center;

}

.card-content {
    display: flex;
    flex-direction: column; /* Содержимое располагае��ся вертикально */
    gap: 8px; /* Расстояние между элементами */
}

.health-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.input-numeric {
    background-color: #2e2e2e; /* Темный фон */
    border: 1px solid #7f5a3a; /* Коричневая рамка */
    color: #ffffff; /* Белый текст */
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1rem;
    width: 4ch;
}
.card-dragging {
    background-color: #2e2e2e; /* Более светлый фон */
    border-color: #d4af37; /* Золотистая рамка */
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.6); /* Более яркая тень */
    opacity: 0.9; /* Легкая прозрачность */
    cursor: grabbing; /* Указатель "перетаскивания" */
    touch-action: none;
}
.input-numeric::placeholder {
    color: #aaaaaa; /* Светлый текст для placeholder */
}
.health-inputs {
    display: flex;
    align-items: center;
    gap: 8px; /* Расстояние между полями ввода */
}