.card {
    padding: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card input {
    margin-right: 8px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.card button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #a71d2a;
}

.card-input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20ch;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-right: 8px;
    display: inline-block;
    min-width: 80px; /* Ensures consistent alignment */
}

.card span {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin: 0 8px; /* Adds spacing around the separator */
    display: inline-block;
    text-align: center;
}

.input-numeric {
    width: 4ch; /* Ширина на 3 символа */
    -moz-appearance: textfield; /* Убирает стрелочки в Firefox */
    -webkit-appearance: none; /* Убирает стрелочки в Chrome и Safari */
    appearance: none; /* Убирает стрелочки в современных браузерах */
    margin: 0; /* Убирает дополнительные отступы */
}
.input-numeric::-webkit-inner-spin-button,
.input-numeric::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Убирает стрелочки в WebKit-браузерах */
    margin: 0; /* Убирает отступы */
}

.card-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-right: 8px;
    display: flex;
    align-items: center; /* Выровнять текст по вертикали */
    min-width: 120px; /* Убедитесь, что ширина достаточна для текста */
}

.initiative-container {
    display: flex;
    align-items: center; /* Aligns label and input vertically */
    gap: 8px; /* Adds spacing between label and input */
}

.card-button {
    padding: 8px 16px;
    background-color: #28a745; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    font-size: 14px; /* Font size */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.card-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.health-container {
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    align-items: center; /* Vertically aligns items */
    gap: 4px; /* Adds spacing between elements */
}

.card-content {
    display: flex;
    justify-content: space-between; /* Space between left and right sections */
    align-items: center; /* Align items vertically */
}