.card {
    padding: 16px;
    background-color: #1a1a1a; /* Темный фон, как у других контейнеров */
    border: 1px solid #4b3621; /* Коричневая рамка */
    border-radius: 16px; /* Закругленные углы */
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.3); /* Золотистая тень */
    display: flex;
    flex-direction: column; /* Содержимое располагается вертикально */
    gap: 12px; /* Расстояние между элементами */
    touch-action: none;
}

.card button {
    padding: 8px 16px;
    background-color: #7f5a3a; /* Коричневый фон кнопки */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #a97b50; /* Более светлый коричневый при наведении */
}

.card-label {
    font-size: 14px;
    font-weight: bold;
    color: #d4af37; /* Золотистый цвет текста */
    margin-right: 8px;
    display: flex;
    align-items: center;
    min-width: 120px;
}

.card-content {
    display: flex;
    flex-direction: column; /* Содержимое располагае��ся вертикально */
    gap: 8px; /* Расстояние между элементами */
}

.health-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.input-numeric {
    background-color: #2e2e2e; /* Темный фон */
    border: 1px solid #7f5a3a; /* Коричневая рамка */
    color: #ffffff; /* Белый текст */
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1rem;
    width: 4ch;
}

.input-numeric::placeholder {
    color: #aaaaaa; /* Светлый текст для placeholder */
}