body {
  background-color: #0f0e0e;
  font-family: 'Cinzel', serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {
  body {
    font-size: 14px; /* Adjust font size for better readability */
    padding: 0 0px; /* Add padding to the body */
  }
}